name: CI

on:
  push:
    branches: [master]
    paths:
      - tree_sitter/**
      - tests/**
  pull_request:
    paths:
      - tree_sitter/**
      - tests/**
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12"]
        os: [ubuntu-latest, macos-13, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Python ${{matrix.python}}
        uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python}}
      - name: Lint
        run: pipx run ruff check .
      - name: Build
        run: pip install -e .
        env:
          CFLAGS: "-O0 -g"
      - name: Test
        shell: python
        # run: python -Wignore:::tree_sitter -munittest
        run: |-
          import tree_sitter as ts
          try:
            ts.Language(1, "foo")
          except RuntimeError as err:
            print(err)
