name: CI

on:
  push:
    branches: [master]
    paths:
      - tree_sitter/**
      - tests/**
  pull_request:
    paths:
      - tree_sitter/**
      - tests/**
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13"]
        os: [ubuntu-latest, macos-13, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Python ${{matrix.python}}
        uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python}}
      - name: Lint
        continue-on-error: true
        run: pipx run ruff check . --output-format=github
      - name: Build
        run: pip install -v -e .[tests]
        env:
          CFLAGS: -Wextra -Og -g -fno-omit-frame-pointer
      - name: Test
        run: python -munittest -v
